@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Asap&family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Asap&family=Francois+One&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Asap&family=Francois+One&family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');


.main{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 50px;
}
.main__container{
    display: flex;
    flex-direction: column;
}

p{
    font-size: 2rem;
    font-weight: 400;
    margin: 20px 0;
    margin-right: 100px;
    text-align: center;
    line-height: 1.5;
}
h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
}
.photos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}
.sites{
    border-radius: 10px;
    cursor: pointer;
}
.sites:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
@media screen and (max-width: 1000px){
    .um-container{
        margin-top: 1;
        margin-bottom: 1rem;
        margin-left: 0rem;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
    }
    .photos{
       margin-left: 1rem;
    }
    p{
        margin-right: 0;
    }
    .sites{
        width: 100%;
    }
    .sites:hover{
        transform: scale(1.2);
        transition: 0.8s;
    }
}